<nav class="navbar navbar-dark black">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../public/img/liluzibolt.svg" alt="" width="100" height="100">
        </a>
    </div>
</nav>

    <footer class="footer py-4 font-small text-light">
        <div class="footer-copyright text-center container-fluid">
            © Track Star LLC, 2021
        </div>
    </footer>

<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
<script src="script.js"></script>
