<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../public/img/liluzibolt.svg" alt="" width="100" height="100">
        </a>
    </div>
</nav>

<footer class=“footer”>
    <div class="content has-text-centered has-text-dark white">
        <p><i class="far fa-copyright"></i>: Track Star LLC, 2021</p>
    </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
<script src="script.js"></script>
