form.signup,
form.login {
  margin-top: 50px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fffdeb;
}

.white {
  background-color: #fffdeb;
}

.white2background {
  background-color: #fffffa;
}

.white2text {
  color: #fffffa;
}

.mustard {
  background-color: #ffc54e;
}

.lime {
  background-color: #8dbd5b;
}

.blue {
  background-color: #7abdbd;
}

.lavender {
  background-color: #98709f;
}

.pink {
  background-color: #be696e;
}

.black {
  background-color: #333333;
  color: white;
}